* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  gap: 100px;
}

.header {
  display: flex;
  padding: 15px;
  border: solid 1px white;
  border-radius: 1rem;
  color: white;
  width: 45%;
  justify-content: space-between;
}

.score {
  background-color: white;
  padding: 0px 40px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.score p {
  color: hsl(229, 64%, 46%);
  font-size: 12px;
}

.score h1 {
  color: grey;
  font-size: 50px;
}

.game {
  background-image: url("./images/bg-triangle.svg");
  width: 50%;
  height: 40vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  display: flex;
}

.game-icon {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.game-hand {
  background-image: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.game-scissors {
  background-image: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.game-rock {
  background-image: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#hand {
  top: -25%;
  left: 20%;
}

#scissors {
  top: -25%;
  right: 20%;
}

#rock {
  top: 75%;
  left: 42%;
}

.game-icon img {
  width: 50px;
}

#game-screen {
  width: 50%;
  display: flex;
  justify-content: space-around;
  color: white;
  display: none;
}

.screen-con {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-direction: column;
}

#user-screen-item,
#computer-screen-item {
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#user,
#computer {
  display: none;
}

.rules {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.rule {
  background-color: white;
  border-radius: 1rem;
  padding: 25px;
}

.rule-head {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.rule-head img {
  cursor: pointer;
}

.rule-footer {
  border: solid 1px white;
  border-radius: 0.3rem;
  padding: 10px;
  width: 100px;
  background-color: transparent;
  font-size: 15px;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 30px;
  cursor: pointer;
}
